.CompanyCard{
  color:black;
  border: solid;
  border-radius: 5px;
  display: flex;
  width: 50%;
  margin: 20px auto;
  padding: 20px;
  text-align: left;
  background-color: #FAFAFA;
  border-color: #0077B5;
}

.CompanyCard > a{
  color:black;
}

.company-button{
  background-color: none;
  border: none;
  background-color: #1891d3;
  border-radius: 5px;
  color: white;
  margin-top: 5px;
}

@media only screen and (max-width: 767px) {
  /* phones */
  .CompanyCard{
    width: 80%;

  }
}