.features{
  margin: 50px 0px;
}

.features > h1{
  margin-bottom: 30px;
}

.feature-card{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 60%;
  margin: 10px auto;
  padding: 50px;
  border-radius: 25px;
  border: solid;
  border-color: #0077B5;

  text-align: left;
  font-size: x-large;
}

.feature-image{
  max-width: 70%;
  height:auto;
  margin:auto;
  padding: 10px;
}

@media only screen and (max-width: 767px) {
  /* phones */
  .feature-card{
    width: 80%;
  }
}