.start-step{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: left;
  margin: auto;
  background-color: #FAFAFA;
  padding: 50px;
}

ol {
	padding: 0;
	margin: 0;
	max-width: 700px;
	position: relative;
}

ol::before {
	content: '';
	width: 0.5rem;
	height: 100%;
	position: absolute;
	top: 0;
	left: 8%;
	background: #0077B5;
	z-index: -1;
}

.steps > li {
	padding: 0.5rem 1.5rem 1rem;
	border-radius: 1.5rem;
  border: solid;
  border-color: #0077B5;
}

.steps > li + li {
	margin-top: 1rem;
}

::marker {
	font-weight: 600;
	color: #0077B5;
	font-size: 1.8rem;
}

@media only screen and (min-width: 768px) {
  /* tablets and desktop */
 .start-step{
  padding: 150px;
 }
}